body {
  text-align: center;
  font-family: Helvetica;
}
.header {
  background-image: url("images/flatiron.png");
}
.title {
  font-size: 70px;
  font-weight: bold;
  color: white;
}
.tabs {
  font-size: 18px;
  color: white;
}
h2 {
  font-size: 32px;
  font-weight: bold;
}
.subheader {
  font-size: 23px;
  font-weight: bold;
}
.text {
  font-size: 14px;
}
.design {
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-image: url("images/flatiron.png");
}
#footer {
  font-family: Helvetica;
  background-color: dimgray;
  text-align: left;
}
.copyright {
  color: white;
  font-size: 11px;
}
.link {
  color: white;
}
